<p id="notice"><%= notice %></p>

<h1>Bug Detail</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-md-3">User</th>
            <th class="col-md-3">Title</th>
            <th class="col-md-3">Description</th>
            <th class="col-md-3">Issue Type</th>
            <th class="col-md-3">Priority</th>
            <th class="col-md-3">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="col-md-3">
                <%= @bug.user.try(:lname) ? @bug.user.try(:fname) + " " + @bug.user.try(:lname) : "NA" %>
            </td>
            <td class="col-md-3">
                <%= @bug.title %>
            </td>
            <td class="col-md-3">
                <%= @bug.description %>
            </td>
            <td class="col-md-3">
                <%= @bug.issue_type %>
            </td>
            <td class="col-md-3">
                <%= @bug.priority %>
            </td>
            <td class="col-md-3">
                <%= @bug.status %>
            </td>
        </tr>
    </tbody>
</table>

<%= link_to 'Edit', edit_bug_path(@bug), class: "btn btn-primary" %> |
<%= link_to 'Back', bugs_path, class: "btn btn-danger" %>
